.contentContainer {
  display:block;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 ;
  height: calc(100vh - 10rem);
  
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight:bold;
  }
  h1{
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    img {
      width: 50px;
      height: 50px;
      margin-right: .5rem;
    }

    span {
      color: var(--cyan-500);
    }
  }
  p{
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span{
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}
.banner {
  width: 450px;
  position:relative;
  right: -15%;
  border-radius: 10px;
}

.circle {
  position: absolute;
  width: 500px;
  right: -10%;
  z-index: -1;
}

.contentMain {
  display:block;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  
  align-items: center;
  justify-content: space-between;
  position: relative;
}